Estou aqui
<!-- Inicio Lista de Notícias -->
<!--<div class="sec_1">
    <div class="sec_1 grids">
        <div class="post6">
            <div class="row">
                <div class="col-md-12">
                    <div class="post6-pic-noticia">

                        <div class="info-box bg-yellow">
                            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{noticias.category }}</span>
                            </div>&lt;!&ndash; /.info-box-content &ndash;&gt;
                        </div>

                        <h3><a href="#">{{noticias.title}}</a></h3>

                        <p>{{noticias.sub_title}}</p>
                    </div>

                    <img src="http://res.cloudinary.com/hlrpvlno9/image/upload/v1446942169/{{noticia.img}}"
                         class="img-responsive post6-pic-img" alt="">
                </div>
            </div>
            <div class="row">
                <div class=" col-md-12">

                    <div class="comments cmnt3">
                        <ul>
                            <li><a ng-click= "gosteiNoticia(noticia._id)"> <span
                                            class="gostei glyphicon glyphicon-thumbs-up"
                                            aria-hidden="true"></span>{{noticias.gostei}}
                                </a>
                            </li>
                            <li><a ng-click= "naoGosteiNoticia(noticia._id)"><span
                                            class="gostei glyphicon glyphicon-thumbs-down"
                                            aria-hidden="true"></span>{{noticias.nao_gostei}}
                                </a>
                            </li>
                            <li><a href="#"><span class="glyphicon glyphicon-comment"
                                                  aria-hidden="true"></span>{{noticias.comments.length}}
                                </a>
                            </li>
                            <li><span class="glyphicon glyphicon-eye-open"
                                      aria-hidden="true"></span> {{noticias.numero_clicks}} </li>
                            <li><span class="glyphicon glyphicon-time"
                                      aria-hidden="true"></span>{{noticias.date}}</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class=" col-md-12">
                    <div id="noticiaConteudo" class="conteudo_noticia">
                        <p>{{noticias.content}}</p>
                    </div>
                </div>
            </div>


           &lt;!&ndash; <div class="post6-comentarios">

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="page-header">Comentários</h2>
                        <section class="comment-list">

                            <% if(noticia.comments != null || noticia.comments != []){
                                var aux = 0;
                                var comentarios = noticia.comments;
                            comentarios.forEach(function(comentario){

                            if(aux % 2 == 0){
                            %>

                            &lt;!&ndash; First Comment &ndash;&gt;
                            <article class="row">
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <figure class="thumbnail">
                                        <img class="img-responsive"
                                             src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                                        <figcaption class="text-center"><%= comentario.name %></figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-10 col-sm-10">
                                    <div class="panel panel-default arrow left">
                                        <div class="panel-body">
                                            <header class="text-left">
                                                <div class="comment-user"><i class="fa fa-user"></i>
                                                    <%= comentario.name %>
                                                </div>
                                                <time class="comment-date" datetime="16-12-2014 01:05"><i
                                                            class="fa fa-clock-o"></i><%= comentario.date %>
                                                </time>
                                            </header>
                                            <div class="comment-post">
                                                <p>
                                                    <%= comentario.comment %>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </article>

                            <% }else{ %>
                            &lt;!&ndash; Third Comment &ndash;&gt;
                            <article class="row">
                                <div class="col-md-10 col-sm-10">
                                    <div class="panel panel-default arrow right">
                                        <div class="panel-body">
                                            <header class="text-right">
                                                <div class="comment-user"><i class="fa fa-user"></i>
                                                    <%= comentario.name %>
                                                </div>
                                                <time class="comment-date" datetime="16-12-2014 01:05"><i
                                                            class="fa fa-clock-o"></i> <%= comentario.date %>
                                                </time>
                                            </header>
                                            <div class="comment-post">
                                                <p>
                                                    <%= comentario.comment %>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-2 hidden-xs">
                                    <figure class="thumbnail">
                                        <img class="img-responsive"
                                             src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                                        <figcaption class="text-center"><%= comentario.name %></figcaption>
                                    </figure>
                                </div>
                            </article>

                            <% }
                                aux = aux + 1;
                            })} %>

                            &lt;!&ndash; Comments Form &ndash;&gt;
                            <div class="well">
                                <h3>
                                    <icon class=" balao-comentario glyphicon glyphicon-comment"></icon>
                                    Deixe seu comentário:
                                </h3>
                                <form method="post" action="/comentario/<%= noticia._id %>">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <input name="userComentario" id="userComentario"
                                                   placeholder="Digite seu nome" type="text"
                                                   class="form-control">
                                        </div>

                                        <div class="col-md-12 form-group">
                                                        <textarea name="textComentario" id="textComentario"
                                                                  placeholder="Participe da discurssão..."
                                                                  class="form-control" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <icon class="glyphicon glyphicon-envelope"></icon>
                                        Enviar
                                    </button>
                                </form>
                            </div>

                        </section>
                    </div>
                </div>

            </div>&ndash;&gt;
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <br/>
    </div>
</div>-->
<!-- Fim Lista de Notícias -->


<!--
<script>

    function codeAddress() {
        var content = $("#noticiaConteudo").text();
        $("#noticiaConteudo").html(content);
    }
    window.onload = codeAddress;


</script>-->

